/* docs/stylesheets/extra.css */
.md-banner {
    background-color: #f7f7fb
        /* From prismscience.org */
    ;
    color: #ffffff;
    padding: 0px;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    /* Add more styles as needed */
}


.md-header__button.md-logo {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2;
    padding-bottom: 0;
    padding-right: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
    height: 80%;
    width: 80%;
    /* flex-shrink: 0; */
}

.md-typeset .grid {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr))
}